
@import "./config.scss";
@import "../common/var.scss";
//BEM
@mixin b($block) {
    $B: $namespace + '-' + $block;
    @at-root {
      .#{$B} {
        @content;
      }
    }
  }
  
  @mixin m($modifer) {
    $selector:&;
    $currentSelector:'';
    @each $unit in $modifer {
      $currentSelector: $currentSelector + $selector + $modifier-separator + $unit + ',';
    }
    @at-root {
      #{$currentSelector} {
        @content;
      }
    }
    
  }
  @mixin when($state) {
    @at-root {
     &.#{$state-prefix + $state} {
       @content;
     }
    }
    
  }
  /* 断点 （break points）
------------------------*/
  @mixin res($key,$map: $--breakpoints) {
     @if map-has-key($map,$key){
         @media only screen and #{inspect(map-get($map,$key))} {
           @content;
         }
     } @else{
         @warn "undefined points: `#{$map}`";
     }
  }  

  @mixin utils-user-select($value){
    user-select:$value;
    -moz-user-select:$value;
    -webkit-user-select:$value;
  }